header {
  padding-top: 35px;
  display: block;
}

.header {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-bottom: 30px;
  padding-top: 50px;
  text-align: center;
  background: url("../assets/images/reflection.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: top;
}

.logo {
  /* font-size: x-large; */
  font-weight: 600;
  grid-column: 1/13;
  padding: 10px 30px;
  margin: 20px auto;
  display: block;
  background-color: var(--navOp);
  border-radius: 10px;
}

.sub {
  font-size: small;
  padding: 10px 10px;
  margin: 0 auto;
  text-align: center;
  grid-column: 1/13;
  font-family: "Lato Medium Italic";
  background-color: var(--navOp);
  border-radius: 10px;
}

@media only screen and (min-width: 350px) {
  .logo {
  }
  .sub {
    font-size: medium;
  }
}

@media only screen and (min-width: 650px) {
  .sub {
    font-size: x-large;
  }
}

@media only screen and (min-width: 950px) {
}
