header {
  display: block;
}

.header {
  height: 50vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  text-align: center;
}

.fullscreen-video-wrap {
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: -1;
  background-color: var(--main-text);
}

.fullscreen-video-wrap video {
  min-width: 100%;
  min-height: 100%;
}

.header-overlay {
  height: 50vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--main-text);
  z-index: 1;
  opacity: 0.5;
}

.header-content {
  color: var(--primary);
  grid-column: 1/13;
  height: 50%;
  width: 80%;
  margin: auto;
  z-index: 2;
}

.logo {
  font-weight: 600;
  max-width: 80%;
  margin: 0px auto 0px;
  display: block;
}

.sub {
  font-size: 0.6em;
  font-family: "Poppins Medium Italic";
  text-align: center;
  width: 80%;
  margin: 0px auto 20px;
}

@media only screen and (min-width: 350px) {
}

@media only screen and (min-width: 650px) {
  .header-content {
    grid-column: 2/12;
    width: 100%;
  }

  .logo {
    font-size: 2.25em;
    padding: 0;
  }
}

@media only screen and (max-width: 757px) {
  video {
    display: none;
  }

  .fullscreen-video-wrap {
    background: url("../assets/videos/poster.png");
    background-position: center;
    background-size: cover;
    bottom: 50%;
    left: 0%;
  }
}
