header {
  padding-top: 35px;
  display: block;
}

.header {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0px auto 20px;
  text-align: center;
  background: url("../assets/images/mountains.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

.header h1 {
  grid-column: 2/12;
  margin: 20px auto 10px;
  display: block;
}

.sub {
  text-align: center;
  grid-column: 1/13;
  padding-bottom: 20px;
}
