.contact-info {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}

.contact-info img {
  grid-column: 2/3;
}

.contact-info h4 {
  grid-column: 3/5;
}

.contact-info a,
.contact-info p {
  grid-column: 5/12;
}
