.contact {
  background-color: var(--shadow);
  margin-bottom: 0;
}
.contacts {
  margin: 0px auto;
  margin-top: 0;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.contact-item {
  padding: 10px;
  margin: auto 20px;
  vertical-align: middle;
}

.contact img {
  margin: 20px;
  width: 50px;
  height: 50px;
}

.contact-link p {
  font-family: "Poppins Light";
  text-align: center;
}

@media only screen and (max-width: 400px) {
  .contacts {
    flex-direction: column;
  }
}

@media only screen and (min-width: 1000px) {
  .contact {
    margin-bottom: 40px;
    border-radius: 20px;
  }
}
