.contact {
  background-color: var(--shadow);
}

.contact-info {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}

.contact-info img {
  grid-column: 3/4;
  width: 50px;
  height: 50px;
}

.contact-info a,
.contact-info p {
  grid-column: 5/12;
  text-align: left;
}
