.experience-body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
}

.experience-leader {
  grid-column: 4/12;
  font-family: "Poppins Light";
  font-size: 0.8em;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  margin: 40px 10px;
}

.experience-img {
  grid-column: 2/4;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.experience-img img {
  background-color: var(--primary);
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.experience-img .arrow {
  transform: rotateZ(-90deg);
  height: 40px;
  width: 40px;
}

.experience-leader p {
  margin: 20px auto;
}

.tools {
  margin: 50px auto;
  text-decoration: underline;
}

.exp-grid {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  gap: 10px;
  margin: 10px;
}

.exp-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: span 5;
  height: 100px;
  margin-bottom: 20px;
}

.exp-item:last-of-type {
  grid-column: 5/12;
}

.exp-item img {
  width: 50px;
}

.resumes .headline {
  display: block;
  margin: 20px auto;
}

.downloads {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px auto;
  justify-content: center;
}

.download {
  margin: 10px;
  grid-column: 2/12;
  border: 1px solid var(--shadow);
  border-radius: 20px;
  transition: transform 0.4s;
  width: 40%;
  min-width: 250px;
}

.download:hover {
  transform: scale(0.9);
}

.subexp {
  color: var(--secondary);
  width: 50%;
  margin: 20px auto;
  margin-bottom: 20px;
}

.download img {
  height: 60px;
  width: 60px;
  margin: 20px auto;
}

@media only screen and (min-width: 650px) {
  .experience-leader {
    text-align: left;
    text-indent: 50px;
  }
}
@media only screen and (min-width: 900px) {
  .exp-item {
    height: 120px;
  }

  .exp-item,
  .exp-item:last-of-type {
    grid-column: span 3;
  }

  .exp-item:nth-of-type(n + 11) {
    grid-column: 4 / span 3;
  }

  .exp-item:nth-of-type(n + 12) {
    grid-column: span 3;
  }
}
