.project {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  justify-items: center;
  padding: 0 0 60px;
}

.left,
.right {
  margin: 5vh auto;
}

.features p {
  font-size: 0.7em;
  font-family: "Poppins Light";
  margin: 10px 0;
}

.psub {
  color: var(--second-text);
}

.left .leader,
.left .project-img,
.right .leader,
.right .project-img {
  grid-column: 2/12;
}

.description {
  font-family: "Poppins Light";
  font-weight: 600;
  font-size: 1em;
  padding: 0 0 20px 0;
}

.project-img,
.project-img img {
  width: 100%;
  max-width: 70vw;
  margin: auto;
}

.project img {
  border-radius: 15px;
}

.project-img {
  margin-top: 40px;
  border-radius: 16px;
  border: 1px solid var(--shadow);
  transition: transform 0.4s;
  /* transition-timing-function: ease; */
}

.project-img:hover {
  transform: scale(0.95);
  opacity: 0.8;
}

@media only screen and (min-width: 500px) {
}

@media only screen and (min-width: 900px) {
  .leader {
    padding: 10px;
  }
}

@media only screen and (min-width: 950px) {
  .project-img {
    margin: auto;
  }

  .left,
  .right {
    padding: 1rem;
  }

  .left {
    text-align: left;
  }

  .right {
    text-align: right;
  }

  .left .leader {
    grid-column: 2/7;
    grid-row: 1;
  }

  .left .project-img {
    grid-column: 7/12;
    grid-row: 1;
  }

  .right .leader {
    grid-column: 7/12;
    grid-row: 1;
  }

  .right .project-img {
    grid-column: 2/7;
    grid-row: 1;
  }

  .left .leader {
    margin-right: 1rem;
  }
  .right .leader {
    margin-left: 1rem;
  }
}

@media only screen and (min-width: 1100px) {
  .left,
  .right {
    border: 1px solid var(--shadow);
    border-radius: 20px;
  }

  .left .leader {
    grid-column: 1/7;
  }

  .left .project-img {
    grid-column: 7/13;
  }

  .right .leader {
    grid-column: 7/13;
  }

  .right .project-img {
    grid-column: 1/7;
  }
}
