.project {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  justify-items: center;
  padding: 0 0 60px;
}

.right .project ul {
  font-size: 0.8em;
  text-align: start;
}

.project ul {
  font-size: 0.8em;
  text-align: start;
  width: 90%;
  margin: 20px auto;
  margin-bottom: 40px;
  list-style-position: inside;
}

.project li {
  font-family: "Poppins Light";
  margin: 5px 1rem;
}

.project li ul {
  font-size: 0.9em;
  margin: 5px 0px;
  margin-left: 1rem;
}

.left .leader,
.left .project-img,
.right .leader,
.right .project-img {
  grid-column: 2/12;
}

.description {
  font-family: "Poppins Light";
  font-weight: 600;
  font-size: 1em;
  padding: 0 0 20px 0;
}

.project-img,
.project-img img {
  width: 100%;
  max-width: 70vw;
  margin: auto;
}

@media only screen and (min-width: 500px) {
  .project ul {
    width: 100%;
    /* margin: auto; */
  }
}

@media only screen and (min-width: 650px) {
  .project-img img {
    max-width: 40vw;
  }

  .leader {
    padding: 10px;
  }

  .left {
    text-align: left;
  }

  .right {
    text-align: right;
  }

  .left .leader {
    grid-column: 2/7;
    grid-row: 1;
  }

  .left .project-img {
    grid-column: 7/12;
    grid-row: 1;
  }

  .right .leader {
    grid-column: 7/12;
    grid-row: 1;
  }

  .right .project-img {
    grid-column: 2/7;
    grid-row: 1;
  }
}

@media only screen and (min-width: 950px) {
  .left .leader {
    grid-column: 2/7;
  }

  .left .project-img {
    grid-column: 7/12;
  }

  .right .leader {
    grid-column: 7/12;
  }

  .right .project-img {
    grid-column: 2/7;
  }
}

@media only screen and (min-width: 1100px) {
  .left .leader {
    grid-column: 1/7;
  }

  .left .project-img {
    grid-column: 7/13;
  }

  .right .leader {
    grid-column: 7/13;
  }

  .right .project-img {
    grid-column: 1/7;
  }
}
