:root {
  --primary: #ffffff;
  --secondary: #56738f;
  --main-text: #111111;
  --second-text: #494747;
  --nav: #666666;
  --navOp: rgba(102, 102, 102, 0.5);
  --shadow: #cccccca3;
  --contact: #7399bf;
  --opaque: rgba(255, 255, 255, 0);
}

/* RESET */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: var(--primary);
}

/* FONTS */
@font-face {
  font-family: "Poppins Light";
  src: url(./assets/fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: "Poppins Medium";
  src: url(./assets/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Poppins Medium Italic";
  src: url(./assets/fonts/Poppins/Poppins-Italic.ttf);
}

@font-face {
  font-family: "Poppins Bold";
  src: url(./assets/fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Poppins Black";
  src: url(./assets/fonts/Poppins/Poppins-Black.ttf);
}

@font-face {
  font-family: "Poppins Black Italic";
  src: url(./assets/fonts/Poppins/Poppins-BoldItalic.ttf);
}

html {
  color: var(--main-text);
  background-color: var(--primary);
  display: block;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: "Poppins Medium";
  color: var(--main-text);
}

.App {
  max-width: 1000px;
  margin: auto;
}

.section {
  text-align: center;
  padding: 40px 0;
}
.section :first-child {
  padding: 0px 0;
}

.section * {
  color: var(--main-text);
}

.headline {
  font-size: 1.8em;
  font-family: "Poppins Medium Italic";
  font-weight: 500;
  text-decoration: underline;
  padding: 20px;
}

.title {
  color: var(--secondary);
  font-size: 1.3em;
  font-family: "Poppins Bold";
  letter-spacing: 0.2em;
  margin: 20px auto;
}

.scene {
  height: 100vh;
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
}
