:root {
  --primary: #ffffff;
  --main-text: #6b6b6b;
  --secondary: #d39d52;
  --nav: #666666;
  --navOp: rgb(102, 102, 102, 0.8);
  --nav2: #16150d;
  --shadow: #cccccca3;
  --contact: #7399bf;
  --footer: #56738f;
}

/* RESET */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: var(--primary);
}

/* FONTS */
@font-face {
  font-family: "Lato Light";
  src: url(./assets/fonts/Lato/Lato-Light.ttf);
}

@font-face {
  font-family: "Lato Medium";
  src: url(./assets/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Lato Medium Italic";
  src: url(./assets/fonts/Lato/Lato-Italic.ttf);
}

@font-face {
  font-family: "Lato Bold";
  src: url(./assets/fonts/Lato/Lato-Bold.ttf);
}

@font-face {
  font-family: "Lato Black";
  src: url(./assets/fonts/Lato/Lato-Black.ttf);
}

html {
  background-color: black;
  display: block;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: "Lato Medium";
  color: var(--main-text);
}

.App {
  max-width: 1000px;
  margin: auto;
}

.body img {
  max-width: 40vw;
  /* border-radius: 50%; */
}

.section {
  text-align: center;
  padding: 40px;
}

.section * {
  color: var(--main-text);
}

.headline {
  padding: 20px;
}

.scene {
  height: 100vh;
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
}
