* {
  padding: 0;
  margin: 0;
}

:root {
  --background-white: #ffffff;
  --main-text: #6b6b6b;
  --subtext: #666666;
}

.App {
  background-color: var(--background-white);
  display: block;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--main-text);
}

body img {
  max-width: 40vw;
  border-radius: 50%;
}
